main {
   display: flex;
}

.menu {
    width: 95%; 
    padding: 2rem;  
    justify-content: center;
    text-align: center;
    align-items: center; 
    position: relative;
    background-color: #ffdb0f;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
  }
  
  .nome {
    color: #000;
    font-weight: 900;
    font-size: 50px;
    padding-left: 50px;
    height: 50px;
    font-family: "Myriad Pro",sans-serif;
}
   
 .explore {
   color: #000000;
   font-family: serif,monospace;
   
}   
   
.categorias {
  font-family: serif,monospace;
 
.lista {
  font-family: serif,monospace;
  float: left;
  width: 16.66%;

.destaques::after {
  content: "";
  clear: both;
  ul li {
    display: inline-block;
}

 
}
