main {
   display: flex;
}

img {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 25px;

}

.menu {
    width: 95%; 
    padding: 2rem;  
    justify-content: center;
    text-align: center;
    align-items: center; 
    position: relative;
    background-color: #000000;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
  }
  
  .nome {
    color: rgb(255, 214, 29);
    font-weight: 900;
    font-size: 50px;
    padding-left: 50px;
    height: 50px;
    font-family: "Myriad Pro",sans-serif;
}

nav h2{
  width: 95%;
  padding: 2rem;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.creceitas {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

 }


 }

.linha1 {
    display: flex;
}

.linha2 {
    display: flex;
}

.linha3 {
    display: flex;
}


.fim {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;

}
}
