main {
   display: flex;
}

img {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 80px;
  margin-top: 20px;

}

.menu {
    width: 95%; 
    padding: 2rem;  
    justify-content: center;
    text-align: center;
    align-items: center; 
    position: relative;
    background-color: #ffdb0f;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
  }
  
  .nome {
    color: #000;
    font-weight: 900;
    font-size: 50px;
    padding-left: 50px;
    height: 50px;
    font-family: "Myriad Pro",sans-serif;
}

nav h2{
  width: 95%;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ffffb3;
}

.creceitas {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    list-style: none;
  }

  .creceitas li{
    margin: 5%;
  }

.fim {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    border="0";
    cellspacing="10";
    background-color: #c2f0c2;
}
}
